# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=psico_user
DB_PASSWORD=psico_pass
DB_NAME=psico_app

# JWT
JWT_SECRET=genera_un_secreto_aleatorio_con_openssl_rand_base64_32
JWT_EXPIRES_IN=1d

# RESEND
RESEND_API_KEY=tu_resend_api_key